:root {
  --primary-color-text: #757575;
  --secondary-color-text: #212121;
  --header-bg-color: #ffffff;
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #2f303a;
  --accent-color: #2196f3;
}
body {
  background: var(--primary-bg-color);
  color: var(--primary-color-text);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Header*/
.logo {
  color: #000000;
  cursor: default;
}
.logo-web {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--secondary-color-text);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth .link {
  color: var(--primary-color-text);
}

.auth .link:hover,
.auth .link:focus {
  color: var(--accent-color);
}

/* Footer */
footer {
  background-color: var(--secondary-bg-color);
}

.logo-footer {
  color: #ffffff;
}
.address {
  color: #ffffff;
}
.mail-footer,
.tel-footer {
  color: rgba(255, 255, 255, 0.6);
}

/* Button */

.button {
  color: #ffffff;
  background-color: var(--accent-color);
}
