:root {
  --primary-color-text: #757575;
  --secondary-color-text: #212121;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --accent-color: #2196f3;
}
body {
  background: var(--primary-bg-color);
  color: var(--primary-color-text);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  font-family: inherit;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}

.section {
  padding: 94px 0px;
}

.container {
  margin: 0px auto;
  width: 1200px;
  padding: 0 15px;
  outline: 1px solid tomato;
}

/* Header*/
.container.header {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}
.site-nav .navigation {
  display: flex;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.logo {
  margin-right: 90px;
  display: inline-block;
  color: #000000;
  cursor: default;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-web {
  color: var(--accent-color);
}

.site-nav .link {
  display: block;
  padding: 32px 0px;

  color: var(--secondary-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contact {
  display: flex;
}

.contact .item + .item {
  margin-left: 50px;
}
.contact .link {
  color: var(--primary-color-text);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

/* Footer */
.page-footer {
  padding: 60px 0;
  background-color: var(--secondary-bg-color);
}

.logo.logo-footer {
  color: #ffffff;
  margin-bottom: 20px;
}
.address {
  /* margin-bottom: 9px; */
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-footer p {
  margin: 0;
}
.address-footer p:not(:last-child) {
  margin-bottom: 9px;
}

.mail-footer,
.tel-footer {
  /* margin-top: 0px; */
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
