/* Hero */
.hero {
  background-color: var(--secondary-bg-color);
  text-align: center;
}
.hero-title {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.hero-button {
  color: #ffffff;
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;

  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
}

.section-title {
  margin-bottom: 50px;

  color: var(--secondary-color-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Advances  */
.section.advances {
  padding-bottom: 0px;
}
.section.advances .section-title {
  display: none;
}
.advances-list {
  display: flex;
}
.advances-list .item {
  width: 270px;
}
.advances-list .item + .item {
  margin-left: 30px;
}
.advances-list .title {
  color: var(--secondary-color-text);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.advances-list .text {
  margin: 0px;
  font-size: 14px;
  line-height: 1.71;
}

/* Works */
.works {
  display: flex;
}
.works .item:not(:last-child) {
  margin-right: 30px;
}
.works .work {
  display: block;
}

/* Team */

.team-list {
  display: flex;
}
.team-list .item:not(:first-child) {
  margin-left: 30px;
}
.team-list .foto {
  margin-bottom: 30px;
}

.team-list .title {
  margin-bottom: 10px;

  color: var(--secondary-color-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .vocation {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
