/* Hero */
.hero {
  background-color: var(--secondary-bg-color);
}
.hero-title {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: #ffffff;
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
}
.section-title {
  color: var(--secondary-color-text);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Advances  */
.advances-list .title {
  color: var(--secondary-color-text);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advances-list .text {
  font-size: 14px;
  line-height: 1.71;
}

/* Team */
.team-list .title {
  color: var(--secondary-color-text);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .vocation {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
