/* Portfolio */

.button {
  color: var(--secondary-color-text);
  background-color: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  border-radius: 4px;
  border: none;
}

.button.active {
  color: #ffffff;
  background-color: var(--accent-color);
}

.portfolio .title {
  color: var(--secondary-color-text);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .sort {
  color: var(--primary-color-text);

  font-size: 16px;
  line-height: 1.88;
}
